include LICENSE
include MANIFEST.in
include CODE_OF_CONDUCT.md
include rust/Cargo.toml
include rust/Cargo.lock
include rust/README.md
recursive-include rust/src *.rs

graft elastnetmt
global-exclude *.py[cod] __pycache__ *.so
